{%extends 'parts/base.html'%}
{%block style%}
body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 25px 50px 25px;
	background:rgba(40,57,101,.9);
}
.address-content{
color:white;
border:rgba(0,0,0,.3) solid 3px;
border-radius:10px;
padding:4%;
text-align:center;
}
.address-content span{
color:rgba(255,0,0,.8);
}
.address-content i{
cursor: pointer;
}
{%endblock%}
{%block container%}
<div class="login-wrap">
    <div class="login-html">
        <div class="address-content">
            <p>address:<span id="address" >{{public_address}} </span>  &nbsp;  <i id="copy" class='far fa-clipboard' style='font-size:24px'></i></p>
        </div>
		<br>
		  <div class="address-content">
            <img src="/static/qr/{{username}}.png">
        </div>
    </div>
  </div>
<script>
var wallet_address = document.getElementById("address");
var copy = document.getElementById("copy");

copy.addEventListener('click',myFunction)
function myFunction() {
    console.log(wallet_address.innerText)
  navigator.clipboard.writeText(wallet_address.innerText);
  alert("Copied to clipboard");
}
</script>

{%endblock%}